
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <%= link_to "My Recipes", root_path, class: "navbar-brand" , id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item ">
        <%= link_to "chefs", chefs_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "recipes", recipes_path , class: "nav-link" %>
        </li>
        <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recipes
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "create a new recipe" , new_recipe_path%></li>
            <li><a class="dropdown-item" href="#"><%= link_to "all ingredients" , ingredients_path%></a></li>
          <% Ingredient.all.each do |ingredient| %>
            <li><a class="dropdown-item" href="#"><%= link_to ingredient.name , ingredient_path(ingredient) %></a></li>
            <%end %>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><%= link_to "new ingredient", new_ingredient_path%></a></li>
          </ul>
        </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div><button class="btn btn-outline-success"><%= link_to "login" , login_path %></button></div>
  <div><button class="btn btn-outline-success"><%= link_to "logout" , logout_path, turbo_method: :delete %></button></div>
</nav>